.Middle ul li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.Middle  ul li a {
    background: #FFFFFF;
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin-top: 10px;
}

.badge {
    color: #FFFFFF;
    background: #FE980F;
    margin-left: 3px;
    padding: 3px 5px;
    border-radius: 50%;
}

.logo {
    width: auto;
    height: 60px;
}