.cartInfo {
    border: 1px solid #E6E4DF;
    margin-bottom: 50px;
}

.cartInfo table tr td {
    border-top: 0 none;
    vertical-align: inherit;
}

.cartInfo .image {
    padding-left: 30px;
}

.cartMenu {
    background: #FE980F;
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.cartMenu tr:last-child {
    border-bottom: 0;
    height: 51px;
}
