.Top {
    background-image: radial-gradient(circle at -24% 48%, hsl(33.7,94.38%,48.82%) 57%, hsl(45.62,100%,52.55%) 75%);
}

.Top .ul li:first-child {
    margin-left: -15px;
}

.Top ul li a {
    font-size: 12px;
    color: #696763;
    font-family: 'Roboto', sans-serif;
}