RewriteEngine On
RewriteBase /
RewriteRule ^index.html - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^(www\.)?chilly-shop.ftc\.dp.ua
RewriteRule ^(.*)$ https://www.chilly-shop.ftc.dp.ua/$1 [R,L]